// Theme Specific Variables
$primaryColor: yellow;
$primaryDarkColor: #1E88E5;
$primaryDarkerColor: #1976D2;
$primaryTextColor: #ffffff;

$colors: (
    "blue": #2196F3,
    "green": #4caf50,
    "yellow": #FBC02D,
    "cyan": #00BCD4,
    "pink": #E91E63,
    "indigo": #3F51B5,
    "teal": #009688,
    "orange": #F57C00,
    "bluegray": #607D8B,
    "purple": #9C27B0,
    "red": #FF4032,
    "primary": $primaryColor
);

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-a:#ffffff;
    --surface-b:#f8f9fa;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:#495057;
    --text-color-secondary:#6c757d;
    --primary-color:#2196F3;
    --primary-color-text:#ffffff;
    --surface-0: #ffffff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius:#{$borderRadius};
    --surface-ground:#f8f9fa;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#dee2e6;
    --surface-hover:#e9ecef;
    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};
    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
    color-scheme: light;
}

@mixin expose-variables($variables: $variables-dark) { // это должно быть здесь. не в mixins :)
    @each $key, $value in $variables {
        --#{$key}: #{$value};
    }
}

$variables-dark: (
        color-text: #f6f7f9,
        color-section: #1C1C1E,
        color-text-secondary: #919399,
        color-bg: #0C0C0C,
        color-divider: #2a2a2c,
        color-button: #26282A,
        color-button-secondary: #26282A,
        color-primary-light: #26282A,
        color-text-link: #f6f7f9,
        svg-filter: brightness(0) invert(1),
);

$variables-light: (
        color-text: #2C2D2E,
        color-text-dark: #262727,
        color-text-secondary: #919399,
        color-text-link: #005FF9,
        color-section: #ffffff,
        color-bg: #F7F8FA,
        color-bg-active: #DBDEE4,
        color-divider: #E0E2E8,
        color-button: #f2f3f6,
        color-button-secondary: #DEE9FA,
        svg-filter: none,
        color-primary-light: #FBD4D7,
);

// Root

// todo FIX ME import from variables.scss

:root {
    // Main Variables
    @include expose-variables($variables-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include expose-variables($variables-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include expose-variables($variables-light);
    }
}

:root[data-theme="dark"] {
    @include expose-variables($variables-dark);
}

:root[data-theme="light"] {
    @include expose-variables($variables-light);
}
