.p-skeleton {
    background-color: #0C0C0C;
    border-radius: $borderRadius;

    &:after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), $skeletonAnimationBg, rgba(255, 255, 255, 0));
    }
}